Telegram_AI_Agent/Telegram_AI_Agent.json
{
  "name": "🤖 Telegram AI Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "c436c555-2f0e-450d-88f6-de698dfb4ccf",
      "name": "Receive Message",
      "webhookId": "97ad91b8-8d3c-4c40-b197-bd5e509538ba",
      "credentials": {
        "telegramApi": {
          "id": "F5Fsxyw3McbPqJoe",
          "name": "Youtube Tutorial"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        1160,
        60
      ],
      "id": "d6615164-6bc5-4c2d-ad84-73dda8518c16",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "NIAubkxDCLCvpVb7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=# ROLE\nYou are a helpful assistant\nYour name is Sam. Response in a friendly and helpful tone.\n\n# Important Information\nYou are speaking to {{ $('Switch').item.json.message.from.first_name }}\nCurrent date and time: {{ $now }}\n\n# Tools\n## Get Emails\nUse this tool to retrieve any unread emails from Gmail.\nIn your response, provide the following:\n- a summary of the body content\n- the from email address\n- the name of the person\n\n## Send Email\nUse this tool to send an email. It requires the recipient email address, subject and email body.\n\n## Get Calendar\nUse this tool to retrieve calendar events.\n\n## Set Calendar\nUse this tool to create new calendar events\n\n## Contacts\nUse this tool to retrieve contacts information about contacts, like their email addresses"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1160,
        -140
      ],
      "id": "2be57733-9ea1-4399-bc40-897acc435ca3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f6d0a607-e0ad-49ba-9987-10ad2889b536",
                    "leftValue": "={{ $json.message.photo }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2a9d7a90-7f2e-4228-84df-6476a2534a04",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        200,
        0
      ],
      "id": "eb83fe5a-6d5d-438e-920e-bca65c53df59",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        600,
        -200
      ],
      "id": "0a223ec1-d6ce-4614-b1c1-729a0cc417b2",
      "name": "Get Audio File",
      "credentials": {
        "telegramApi": {
          "id": "F5Fsxyw3McbPqJoe",
          "name": "Youtube Tutorial"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Receive Message').item.json.message.chat.id }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1260,
        60
      ],
      "id": "36534eca-97a7-4c28-b32f-649cb78929e5",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "={{ $('Receive Message').item.json.message.caption || \"Describe this image\" }}",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        940,
        -520
      ],
      "id": "c65b119e-b67d-4c54-b8f8-06e07e43547c",
      "name": "Analyze Image",
      "credentials": {
        "openAiApi": {
          "id": "NIAubkxDCLCvpVb7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const inputItem = items[0];\nconst extension = inputItem.binary.data.fileExtension;\ninputItem.binary.data.mimeType = `image/${extension}`;\nreturn inputItem;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        -520
      ],
      "id": "e2e50d19-7c60-495f-b6b4-dbf19be19578",
      "name": "Fix File Extension"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec3a884f-480f-4462-9437-a7de0faed372",
              "name": "output",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1100,
        -520
      ],
      "id": "3fd4e9ad-0b92-409d-92df-b92aefd12cbb",
      "name": "Format Output"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "88cbdd27-f094-458b-878f-60504b8c3ad7",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        600,
        60
      ],
      "id": "ee78d60b-0cbc-495c-adbc-423d697c7969",
      "name": "Agent Input"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3d8b9900-fe93-48d3-a1cf-8fd70542f091",
              "leftValue": "={{ $('Receive Message').item.json.message.voice.file_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1620,
        -260
      ],
      "id": "00000a73-915b-4bda-b2cb-51c63b4bdda0",
      "name": "Audio Response?"
    },
    {
      "parameters": {
        "chatId": "={{ $('Receive Message').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1860,
        -140
      ],
      "id": "c76fd7d7-513d-4a49-b7c8-f09e8a495ac3",
      "name": "Text Response",
      "credentials": {
        "telegramApi": {
          "id": "F5Fsxyw3McbPqJoe",
          "name": "Youtube Tutorial"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.output }}",
        "voice": "nova",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1860,
        -360
      ],
      "id": "befa2456-9522-4d4d-9db6-8f1f309dbc99",
      "name": "Generate Audio",
      "credentials": {
        "openAiApi": {
          "id": "NIAubkxDCLCvpVb7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Receive Message').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2080,
        -360
      ],
      "id": "a34e114e-8ba1-4db9-b11b-fe1c0aa3d11a",
      "name": "Audio Response",
      "credentials": {
        "telegramApi": {
          "id": "F5Fsxyw3McbPqJoe",
          "name": "Youtube Tutorial"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[2].file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        600,
        -520
      ],
      "id": "58f07407-a85b-46a9-a6a8-7d76fd21aea0",
      "name": "Download Image",
      "credentials": {
        "telegramApi": {
          "id": "F5Fsxyw3McbPqJoe",
          "name": "Youtube Tutorial"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        780,
        -200
      ],
      "id": "645efda6-a373-46ef-9126-1991dd595c6b",
      "name": "Transcribe",
      "credentials": {
        "openAiApi": {
          "id": "NIAubkxDCLCvpVb7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 5,
        "filters": {
          "labelIds": [
            "UNREAD",
            "INBOX"
          ]
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        600,
        420
      ],
      "id": "6286e512-39c8-47d1-a97b-ecad85f48e56",
      "name": "Get Emails",
      "webhookId": "d2e64baa-5c0c-43cc-9117-77a74bd4358e",
      "credentials": {
        "gmailOAuth2": {
          "id": "9SoDBxo1xgbuwoFH",
          "name": "AI Agent Tutorial"
        }
      }
    },
    {
      "parameters": {
        "content": "## Agent Tools",
        "height": 380,
        "width": 960
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        540,
        320
      ],
      "id": "6d460d6f-a970-4601-bd53-cbb39fd7c59b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Image Chat",
        "height": 260,
        "width": 760
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        520,
        -580
      ],
      "id": "fd3ced9f-9919-4fa6-b7b1-9354a1826254",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Voice Chat",
        "height": 240,
        "width": 540
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        520,
        -260
      ],
      "id": "422a39a2-fe49-466d-874e-1c6e533d00f3",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Text Chat",
        "height": 240,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        520,
        0
      ],
      "id": "c6ba2804-d839-4394-99d2-ee68662ae6b6",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Handle Responses",
        "height": 480,
        "width": 760
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1540,
        -420
      ],
      "id": "1f9eb303-0d08-4089-83e5-11b679264af2",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI('recipient_email') }}",
        "subject": "={{ $fromAI('email_subject') }}",
        "emailType": "text",
        "message": "={{ $fromAI('email_body') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        720,
        420
      ],
      "id": "7a4aac1d-86a4-44a6-aca4-259c2a2b565e",
      "name": "Send Email",
      "webhookId": "33501ace-0ca0-44b3-b91b-bdb370df8401",
      "credentials": {
        "gmailOAuth2": {
          "id": "9SoDBxo1xgbuwoFH",
          "name": "AI Agent Tutorial"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "leonvanzyldev@gmail.com",
          "mode": "list",
          "cachedResultName": "leonvanzyldev@gmail.com"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        840,
        420
      ],
      "id": "2af5f449-ab47-4762-946e-cfcfbd632138",
      "name": "Get Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "dBrhpnkCZvMCL6gV",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "leonvanzyldev@gmail.com",
          "mode": "list",
          "cachedResultName": "leonvanzyldev@gmail.com"
        },
        "start": "={{ $fromAI('start', \"Date and time when the event should start\") }}",
        "end": "={{ $fromAI('end', \"Date and time when the event should end\") }}",
        "additionalFields": {
          "description": "={{ $fromAI('description', \"Description of the event\") }}",
          "summary": "={{ $fromAI('title', \"Title of the event\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        960,
        420
      ],
      "id": "c72273c4-020e-470f-bde7-01e2aa981796",
      "name": "Set Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "dBrhpnkCZvMCL6gV",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "content": "## AI Agent",
        "height": 460,
        "width": 380
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1100,
        -220
      ],
      "id": "e582ca55-840a-45d2-8420-e57b55953f13",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1080,
        560
      ],
      "id": "1f6442dc-259b-4180-b443-4720d1bedfb1",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "NIAubkxDCLCvpVb7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "n8n",
        "toolDescription": "Use this tool to retrieve email addresses of contacts.",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {
          "pineconeNamespace": "contacts"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        1080,
        420
      ],
      "id": "79e275eb-fa36-4280-8380-ad87465b7ebc",
      "name": "Contacts",
      "credentials": {
        "pineconeApi": {
          "id": "b6odtjyKw59k2M0y",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        1360,
        420
      ],
      "id": "783b66a6-02b9-49bc-a1df-6ae48749c724",
      "name": "Google Search",
      "credentials": {
        "serpApi": {
          "id": "hBalNzl4RbVojCdx",
          "name": "SerpAPI account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Receive Message": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Audio File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agent Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio File": {
      "main": [
        [
          {
            "node": "Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Audio Response?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix File Extension": {
      "main": [
        [
          {
            "node": "Analyze Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Image": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Text Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Input": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio Response?": {
      "main": [
        [
          {
            "node": "Generate Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Audio": {
      "main": [
        [
          {
            "node": "Audio Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Fix File Extension",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Emails": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Set Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Contacts",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Contacts": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Africa/Johannesburg",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "e1926fc5-4019-46fa-a55b-958a90f38d82",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c9b5ffc3334450cdf2932407bee77ee116a63706cde141a825b6dab1a723287d"
  },
  "id": "gLJy3Cg5nxGjwxwr",
  "tags": []
}